/* combat.module.css */

.combat {
  position: absolute;
}

.combat aside{
  background-color: #66CCCC;
  height: 100vh;
  width: 100vh;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.7); 
}

.combat_container {
  display: flex;
}

.combat_container_content{
  display: grid;
}

.combat_cotaniner_sections {
  justify-content: center;
  margin: 20px;
  display: flex;
}

.combat_cotaniner_sections_content {
  width: 100%;
  justify-content: center;
  margin: 20px; 
  justify-content: flex-start;
}

.combat select{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.combat header{
  display: flex;
  align-items: center;
  width: 100%;
}

.combat h1 {
  margin-top: 5px;
  margin-bottom: 5px !important;
  margin-left: 10px;
  margin-right: 50%;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  align-self: center;
}

.combat button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.combat label {
  width: 100%;
  color: white;
}

.combat_icon{
  margin-left: 5px;
  margin-top: 5px;
}

.combat_icon_exit{
  margin-left: 125px !important;
  margin-top: 5px;
}

.horizontal_line {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  border-top: 1px solid #ffffff;
}

.vertical_line {
  border-left: 1px solid #000;
}
