.combat {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.combat_section {
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
}
.combat_section h1 {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.combat_section button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.combat_section button:hover {
  background-color: #1e90ff;
  opacity: 0.8;
}
.combat_section label {
  color: black;
}
.combat_section input{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.combat_section textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.combat_section select{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.combat_section hr {
  height: 100%;
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

.fichaContainer {
  width: 45%;
  margin-bottom: 1rem;
}